<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Cerca recensioni</title>
        
        <link rel="stylesheet" th:href="@{/css/cerca-recensioni.css}">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>
    <body>

        <div class="search-container">
            <h1>Cerca recensioni</h1>
            
            <div th:if="${errore}" th:text="${errore}"></div>
            
            <form th:action="@{/recensioni/cerca}" method="post">
                    
                <div class="utente-field">
                    ID utente:
                    <input type="text" name="usernameUtente" placeholder="Inserisci username utente">
                </div>
                    
                <div class="contenuto-field">
                    Contenuto:
                    <select name="idContenuto">
                        <option value="">Nessun contenuto selezionato</option>
                        
                        <option th:each="c : ${modelContenuti}"
                                th:value="${c.id}"
                                th:text="${c.titolo}">
                        </option>
                    </select>
                </div>
                    
                <button type="submit" class="btn-principale">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    Cerca
                </button>
                
            </form>
           
            <div class="link-container">
                <a th:href="@{/recensioni}" class="link-recensioni">
                    <i class="fa-solid fa-arrow-right"></i>
                    Vedi tutte le recensioni
                </a>
                
                <a th:href="@{/home}" class="link-home">
                    <i class="fa-solid fa-house"></i>
                    Torna alla home
                </a>
            </div>
        </div>

    </body>
</html>