<!DOCTYPE html>
<html lang="it"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

    <p>Scegli cosa vuoi fare:</p>

    <a th:href="@{/recensioni}">Vedi tutte le recensioni</a>

    <div sec:authorize="isAuthenticated()">
        <div>
            <a th:href="@{/recensioni/mie}">Le mie recensioni</a>
        </div>

        <div>
            <a th:href="@{/recensioni/nuova}">Inserisci nuova recensione</a>
        </div>
    </div>

    <div>
        <a th:href="@{/recensioni/cerca}">Cerca recensioni</a>
    </div>

    <div>
        <a th:href="@{/listaContenuti}">Lista contenuti</a>
    </div>

    <div sec:authorize="hasAuthority('ADMIN')">
        <a th:href="@{/admin/nuovoContenuto}">Inserisci nuovo contenuto</a>
    
    </div>
    
    <div sec:authorize="hasAuthority('ADMIN')">
        <a th:href="@{home/cambiaRuolo}">Cambia Ruolo Degli Utenti</a>
    </div>

    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>

    <div sec:authorize="!isAuthenticated()">
        <a th:href="@{/login}">Login</a>

        <a th:href="@{/registrazione}">Registrati</a>
    </div>

</body>
</html>