<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>

<p>Scegli cosa vuoi fare:</p>

<ul>
    <li>
        <a th:href="@{/recensioni}">Vedi tutte le recensioni</a>
    </li>

    <li>
        <a th:href="@{/recensioni/mie}">Le mie recensioni</a>
    </li>

    <li>
        <a th:href="@{/recensioni/nuova}">Inserisci nuova recensione</a>
    </li>

    <li>
        <a th:href="@{/recensioni/cerca}">Cerca recensioni (non ancora fatto)</a>
    </li>
</ul>

<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>