<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
        
        <link th:href="@{/css/registrazione.css}" rel="stylesheet">
        <link th:href="@{/css/error-message.css}" rel="stylesheet">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>
    <body>

        <div class="registration-container">
            <h1 class="scritta">Login</h1>
            
            <form th:action="@{/login}" method="post">
                
                <div class="input-group">
                    <label for="username">Username:</label>
                    <div class="input-wrapper">
                        <i class="fa-solid fa-user icon"></i>
                        <input type="text" id="username" name="username">
                    </div>
                </div>
                
                <div class="input-group">
                    <label for="password">Password:</label>
                    <div class="input-wrapper">
                        <i class="fa-solid fa-lock icon"></i>
                        <input type="password" id="password" name="password">
                    </div>
                </div>
                
                <div>
                    <button type="submit" class="btn-primario">Accedi</button>
                </div>
            
            </form>
            
            <div th:if="${param.error}" class="error-message">
                <i class="fa-solid fa-triangle-exclamation"></i>
                Username o password errati.
            </div>
            
            <p th:if="${param.logout}">
                Logout effettuato.
            </p>
            
            <div>
                <span class="scritta">Non hai un account?</span>
                <a th:href="@{/registrazione}">Registrati</a>
            </div>
            
            <a th:href="@{/}">Torna alla schermata principale</a>
        </div>

    </body>
</html>